{
    "globals": {
        "moment": true,
        "$": true,
        "io": true,
        "socket": true,
        "SkidInc": true,
        "fix": true,
        "M": true,
        "document": true,
        "window": true,
        "localStorage": true,
        "atob": true,
        "btoa":  true
    }
}