@media (min-width: 768px) {
    .console, .console::before, .console::after {
        width: 650px;
    }
    .console::before, .console::after {
        left: 50px;
    }
    .screen, .screen::before, .layer::after, .output {
        width: 630px;
    }
    .input-container {
        width: 550px;
    }
    .text-side {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .console, .console::before, .console::after {
        width: 880px;
    }
    .console::before, .console::after {
        left: 45px;
    }
    .screen, .screen::before, .layer::after, .output {
        width: 860px;
    }
    .input-container {
        width: 780px;
    }
    .text-side {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .console, .console::before, .console::after {
        width: 1090px;
    }
    .console::before, .console::after {
        left: 40px;
    }
    .screen, .screen::before, .layer::after, .output {
        width: 1070px;
    }
    .input-container {
        width: 990px;
    }
    .text-side {
        width: 100%;
    }
}

/* HIGHLY BASED FROM MY ORIGINAL ONE :
 * http://totominc.github.io/fallout-terminal/ */

.console {
    margin: 0 auto;
    height: 650px;
    border: 10px solid #000;
    border-radius: 20px;
}

.console::before {
    z-index: 2;
    position: absolute;
    content: '';
    height: 650px;
    top: -0px;
    border-radius: 20px;
    opacity: 0.5;
    background: linear-gradient(135deg,
        rgba(149,149,149,0.5) 0%,
        rgba(13,13,13,0.55) 19%,
        rgba(1,1,1,0.64) 50%,
        rgba(10,10,10,0.69) 69%,
        rgba(51,51,51,0.73) 84%,
        rgba(22,22,22,0.76) 93%,
        rgba(27,27,27,0.78) 100%);
}

.console::after {
    z-index: 1;
    position: absolute;
    content: '';
    height: 650px;
    top: -0px;
    border-radius: 20px;
    opacity: 0.05;
    background: #ddd;
}

.bottom-stats {
    height: 100px;
    width: 100%;
    margin-top: 530px;
    border-top: 10px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #080808;
}

.stats .row {
    padding: 3px 10px;
}

.console .stats p {
    font-size: 14px;
    line-height: 20px;
    color: rgba(191,215,219,1);
}

.screen {
    z-index: 3;
    position: absolute;
    overflow: hidden;
    height: 530px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #000;
    -webkit-box-shadow: 0px 0px 1px 3px rgba(10, 10, 10, .7);
    box-shadow: 0px 0px 1px 3px rgba(10, 10, 10, .7);
}

.screen::before {
    z-index: 10;
    position: absolute;
    content: '';
    height: 530px;
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.6) 50%, #000 50%);
    background-size: 100% 4px;
    background-repeat: repeat-y;
    opacity: 0.15;
    -o-animation: pulse 5s linear infinite;
    -moz-animation: pulse 5s linear infinite;
    -webkit-animation: pulse 5s linear infinite;
    animation: pulse 5s linear infinite;
}

.screen.no-blackbars::before {
    display: none;
}

.logo-layer {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/console-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.30;
}

.layer {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: radial-gradient(ellipse at center,
        #2b2e35 0%,
        rgba(255,255,255,0) 110%);
    box-shadow: inset 0px 0px 3px 3px rgba(121, 121, 121, 0.1);
    transform-origin: 50% 50%;
    opacity: 0.9;
}

.text {
    z-index: 4;
    position: absolute;
}

.text::before {
    display: none;
    position: absolute;
    content: '';
    top: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,
        rgba(255,250,250,1) 50%,
        rgba(255,255,255,0.98) 51%,
        rgba(255,0,0,0) 100%);
    opacity: 0.05;
}

.output {
    display: block !important;
    overflow: hidden;
    padding: 15px 15px 0px 15px;
    resize: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    border: 0 none;
    height: 480px;
    color: rgba(191,215,219,1);
    text-shadow: 1px 1px 4px rgb(73, 86, 86), -1px -1px 4px rgb(73, 86, 86), -1px 1px 4px rgb(73, 86, 86), 1px -1px 4px rgb(73, 86, 86);
    line-height: 14px;
    background: radial-gradient(ellipse at center,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.19) 100%);
    cursor: default;
}

.output a {
    transition: color 1s;
    font-weight: bold;
    color: inherit;
}

.output p {
    transition: color 1s;
    margin: 0 0 7px;
}

.console .output p b {
    color: rgba(127,214,250,1);
    text-shadow: 1px 1px 4px rgb(53, 60, 60), -1px -1px 4px rgb(53, 60, 60), -1px 1px 4px rgb(53, 60, 60), 1px -1px 4px rgb(53, 60, 60);
}

.text-side {
    overflow-y: auto;
    height: 100%;
}

.text-side p {
    margin: 0 !important;
    text-align: left;
    line-height: 25px;
}

.infos-side {
    float: right;
    height: 100%;
}

.infos-side p {
    text-align: right;
}

.console-mults {
    position: absolute;
    right: 10px;
    bottom: 85px;
}

.console-bottom {
    position: absolute;
    right: 10px;
    bottom: 60px;
}

.input {
    display: block !important;
    overflow: hidden;
    height: 47px;
    color: rgba(191,215,219,1);
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    background: radial-gradient(ellipse at center,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.22) 100%);
}

.blinking-arrow {
    float: left;
    height: 100%;
    width: 20px;
    margin-top: 5px;
    margin-left: 20px;
    line-height: 25px;
    font-size: 30px;
    cursor: pointer;
    transition: all 250ms;
}

.console .blinking-arrow:hover {
    transition: all 250ms;
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
}

.blinking-arrow > i {
    -o-animation: blinking-arrow 2s linear infinite;
    -moz-animation: blinking-arrow 2s linear infinite;
    -webkit-animation: blinking-arrow 2s linear infinite;
    animation: blinking-arrow 2s linear infinite;
}

.enter {
    float: right;
    height: 100%;
    width: 20px;
    margin-top: 5px;
    margin-right: 15px;
    font-size: 24px;
    cursor: pointer;
    transition: all 250ms;
}

.console .enter:hover {
    transition: all 250ms;
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
}

.input-container {
    float: left;
    height: 30px;
    margin-top: 5px;
    font-size: 24px;
    margin-right: 5px;
    transition: 200ms;
    border: 1px solid transparent;
    border-radius: 4px;
}

.console .input-container:hover {
    transition: all 250ms;
    border-color: rgb(148, 148, 148);
}

.input-text {
    vertical-align: middle;
    height: 30px;
    width: 100%;
    font-size: 18px;
    padding-bottom: 13px;
    padding-left: 3px;
    border: none;
    background: transparent;
}

input {
    cursor: pointer;
}

input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

.virus-factoid .virus-factoid-content {
    display: none;
}
.virus-factoid:hover .virus-factoid-content,
.virus-factoid:hover .virus-factoid-content:hover {
    display: block;
}